@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 270 60% 92%;
    --foreground: 280 50% 10%;

    --card: 270 50% 85%;
    --card-foreground: 280 50% 10%;

    --popover: 270 50% 85%;
    --popover-foreground: 280 50% 10%;

    --primary: 280 60% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 270 50% 75%;
    --secondary-foreground: 280 50% 10%;

    --muted: 270 40% 70%;
    --muted-foreground: 280 30% 40%;

    --accent: 48 100% 60%;
    --accent-foreground: 280 50% 10%;

    --success: 84 100% 65%;
    --success-foreground: 280 50% 10%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --stat-bg: 280 50% 10%;
    --stat-foreground: 0 0% 100%;

    --border: 270 40% 80%;
    --input: 270 40% 80%;
    --ring: 280 60% 25%;

    --radius: 1rem;

  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }

  .dark {
    --background: 280 50% 10%;
    --foreground: 0 0% 98%;

    --card: 280 40% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 280 40% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 270 50% 75%;
    --primary-foreground: 280 50% 10%;

    --secondary: 280 40% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 280 40% 20%;
    --muted-foreground: 270 20% 65%;

    --accent: 48 100% 60%;
    --accent-foreground: 280 50% 10%;

    --success: 84 100% 65%;
    --success-foreground: 280 50% 10%;

    --destructive: 0 62.8% 40%;
    --destructive-foreground: 0 0% 98%;

    --stat-bg: 0 0% 8%;
    --stat-foreground: 0 0% 100%;

    --border: 280 40% 20%;
    --input: 280 40% 20%;
    --ring: 270 50% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
